.App {
  display: flex;
  flex-direction: row;
}

.App--form {
  flex-basis: 60%;
}

.App--result {
  flex-basis: 40%;
  margin: 10px;
  border: 1px solid grey;
  background-color: lightgrey;
  padding: 10px;
  white-space: pre;
}
